<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%=title%></h1>
    <a href="/new">New message</a>
      <% for(const message of messages) {%>
        <div class="message"> <p>
          <%=message.user%>: <%=message.text%>
        </p>
          <%=message.added%>
        </div>
          <% } %>
  </body>
</html>
