<form method="POST" action="/new">
  <h1>New message</h1>
  <input type="text" name="messageUser" id="messageUser" placeholder="Name">
  <input type="text" name="messageText" id="messageText" placeholder="Message">
  <input type="submit" value="Submit">
</form>
<a href="/">< Back</a>
